/* main styles */
.main {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.home {
    padding-left: 2.5rem;
    border-bottom: 1px solid var(--border);
}

.new-tweet {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 9fr;
    border-bottom: 1rem solid var(--thick-border);
}

.new-tweet .left,
.right {
    padding: 0 1rem;
}

.new-tweet input {
    padding: 2rem 0;
    background: transparent;
    border: none;
    color: var(--light);
    font-size: 2rem;
    font-weight: 700;
}

.new-tweet-options {
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-tweet .add-icons {
    margin-right: 1rem;
}

.new-tweet .add-icons svg {
    width: 3rem;
    fill: var(--sky-blue);
    padding: 1rem;
}

.new-tweet .add-icons svg:first-child {
    padding-left: 0;
}

.pagination {
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.page-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
    margin: 2px;
}

#chevron {
    border: 1px solid var(--border);
    font-weight: bold;
}

#current-page {
    background-color: #1da1f2;
}

.lds-ring {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    margin: auto;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
